@import '../../styles/mixins';

.common-questions {
  padding-top: 25px !important;
  h1 {
    font-size: 27px !important;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    color: #242729;
    box-sizing: inherit;
  }

  .question-count {
    text-align: left;
  }
}
